

  <div class="secretback">
    <div class="secretbox">
 

      <div class="username">
        <P><%= @myuser.name %>さんの秘密</P>
      </div>

      <%= form_for(@postsecret) do |f| %>
        <% if @postsecret.errors.any? %>
          <div id="error_explanation">
            <ul>
            <% @postsecret.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
            </ul>
         </div>
      <% end %>
  
  
      <div class="secretarea">
        <div class="form-group">
          <%= f.text_area :secrettext, class: 'form-control', rows: 10 %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
       </div>
      </div>
  
      <div class="secretbutton">
        <%= image_submit_tag("savebutton@2x.png", class: 'savebutton')%>
      </div>
 
   <% end %>

  </div>
</div>
  
 

<div class="secretgaide">
  <img src="/images/secretwrite@2x.png" alt="「秘密機能」の説明" width="344px" height="121px">
</div>

<div class="secretgaides">
  <img src="/images/secretgaides@2x.png" alt="「秘密機能」の説明" width="270px" height="1518px">
</div>