<h1>Lies#index</h1>

<!-- @postletterのリンク先のみを生成する-->
<%= form_for(@postletter) do |f| %>
<% if @postletter.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @postletter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.text_area :text, class: 'form-control', rows: 5 %>
    <!--パラメーター名がtextでパラメータ値が記入した文章になる-->
    <%= hidden_field_tag :which, 'lies' %>
    <%= hidden_field_tag :user, @user %>
    <!--userカラムに@userを代入する-->
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
  <!--javascriptで画面遷移を設定する-->
<% end %>
<!--textという名称のパラメータ値がpostletterのインスタンスに送られる-->
