<div class="backbutton">
  <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>

<div class="log-title">
  <img src="/newimages/new-questoin-title@2x.png" alt="送信する質問を選択してください" width="250px" height="60px">
</div>

<div class="notices">
  <%= link_to notice1_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-yourlove.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice2_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-food.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice3_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-want.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice4_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-sokubaku.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice5_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-over.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice6_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-koi.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice7_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-coolgay.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice8_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-firstlove.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice9_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-dream.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice10_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-doki.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice11_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-best.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice12_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-life.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices13">
  <%= link_to notice13_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-siawase.png",:size =>"320x55" %>
  <% end %>
</div>
