<div class="pigg">
  <img src="/newimages/pigimage@2x.png" alt="ピグ" width="76px" height="91px">
</div>

<div class="usercreate">
  <!--全体にfontのcssをかけておく-->
  
    <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
     
      <div class="name">
        <img src="/newimages/name@2x.png" alt="ニックネーム" width="136px" height="36px">
      </div>
      
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control-name', readonly: true %>
      </div>
      
      <div class="password">
        <img src="/newimages/passwordnew@2x.png" alt="新しいパスワード" width="237px" height="34px">
      </div>
      
      <div class="form-group">
        <%= f.telephone_field :password, class: 'form-control-password' %>
      </div>
      
      <!--userloginのidを渡す-->
      
      <%= image_submit_tag("/newimages/decidebutton@2x.png", class: 'createbutton')%>
      
    <% end %>
    
</div>

<!--ログイン画面に飛ぶボタンは削る-->