
<div class="pigg">
  <img src="newimages/pigimage@2x.png" alt="ピグ" width="76px" height="91px">
</div>

<div class="usercreate">
  <!--全体にfontのcssをかけておく-->
  
    <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
     
      <div class="name">
        <img src="newimages/names@2x.png" alt="ニックネーム" width="136px" height="36px">
      </div>
      
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control-name' %>
      </div>
      
      <div class="password">
        <img src="newimages/passwords@2x.png" alt="パスワード" width="140px" height="34px">
      </div>
      
      <div class="form-group">
        <%= f.telephone_field :password, class: 'form-control-password' %>
      </div>
      
      <!--userloginのidを渡す-->
      
      <%= image_submit_tag("/newimages/acountcreate@2x.png", class: 'createbutton')%>
      
    <% end %>
    
</div>


<div class="alwayslogin">
  <%= link_to login_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/alwayslogin@2x.png",:size =>"256x68" %>
  <% end %>
</div>

<!--ログイン画面に飛ぶボタンは削る-->