<% if logged_in? %>

  <% if current_user.id == @user.id %>
  <!--アクセスしたuserが自分だった場合-->
  
    <div class="log-title-show">
      <img src="/images/desktop.png" alt="オオカミloveletter" width="60%">
    </div>
    <div class="ookamilogo">
      <img src="/images/ookamiicon@3x.png" alt="オオカミloveletter" width="82px" height="82px">
    </div>
  
    <div class="black-box">
      <div class="text-alines">
        <p><%= @myuser.name %></p>       
      </div>
    </div>
  
    <div class="URLcreate">
      <div class="IDarea">
        <p><%= user_url(@myuser) %></p>
      </div>
    </div>
  
    <div class="nextto-show">
      <div class="takeletter">
        <%= link_to takeletters_path ,class: 'takebuttonhidden' do %>
          <%= image_tag "/images/takeletter@3x.png",:size =>"89x90" %>
        <% end %>
      </div>
      <div class="gaidebutton">
        <%= link_to gaide_path ,class: 'gaidebuttonhidden' do %>
          <%= image_tag "/images/gaidebutton@3x.png",:size =>"97x111" %>
        <% end %>
      </div>
    </div>

    
  <% else %>
  
    <!--自分ではない場合-->
    <div class="accountview">
      <%= link_to root_path ,class: 'myaccountbutton' do %>
        <%= image_tag "/images/accountview@2x.png",:size =>"232x42" %>
      <% end %>
    </div>
  
  
    <!--ログインしていた場合-->
    <div class="log-title">
      <img src="/images/desktop.png" alt="オオカミloveletter" width="60%">
    </div>
    <div class="ookamilogo">
      <img src="/images/ookamiicon@3x.png" alt="オオカミloveletter" width="82px" height="82px">
    </div>
  

  
            
    <div class="black-box">
      <div class="text-alines">
        <p><%= @user.name %></p>       
      </div>
    </div>
  
    <div class="nextto">
      <div class="takeletter">
        <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
          <%= image_tag "/images/sendletter@3x.png",:size =>"97x111" %>
          <!-- パラメーターに@userが渡される-->
        <% end %>
      </div>
      <div class="gaidebutton">
        <%= link_to gaide_path ,class: 'gaidebuttonhidden' do %>
          <%= image_tag "/images/gaidebutton@3x.png",:size =>"97x111" %>
        <% end %>
      </div>
    </div>
    
  <% end %>

<% else %>
<!--showの場合はログインしていない状態でも相手のプロフィール画面に来ることができる-->

    <script>
      $(document).ready(function(){
       gaidereset();
       /*まず最初にガイドを表示する*/
      });
    </script>


    <!--アクセスしたらまずはガイドを開いてもらう-->
    <div class="sendgaideletter">
      <div class="skip">
        <%= image_submit_tag("skipbutton@2x.png", class: 'usesend', onclick: "gaidereset2()" )%>
        <!--ボタンを押すとuser-showへといく-->
      </div>
      <div class="gaideimage">
        <img src="/images/sendgaidesss@2x.png" alt="オオカミloveletter" width="357px" height="1321px">
      </div>
      <div class="endbutton">
        <%= image_submit_tag("sendgaidebuttonss@2x.png", class: 'send', onclick: "gaidereset2()" )%>
        <!--ボタンを押すとuser-showへといく-->
      </div>
    </div>
    
    
  <div class="user-show">
    
    <div class="log-title">
      <img src="/images/desktop.png" alt="オオカミloveletter" width="60%">
    </div>
    <div class="ookamilogo">
      <img src="/images/ookamiicon@3x.png" alt="オオカミloveletter" width="82px" height="82px">
    </div>
  
  
    <div class="black-box">
      <div class="text-alines">
        <p><%= @user.name %></p>       
      </div>
    </div>
  
    <div class="nextto">
      <div class="takeletter">
        <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
          <%= image_tag "/images/sendletter@3x.png",:size =>"97x111" %>
          <!-- パラメーターに@userが渡される-->
        <% end %>
      </div>
      <div class="gaidebutton">
        <%= link_to sendgaideletter_path ,class: 'gaidebuttonhidden' do %>
          <%= image_tag "/images/gaidebutton@3x.png",:size =>"97x111" %>
        <% end %>
      </div>
    </div>
    
  </div>

  

<% end %>






