<% if logged_in? %>

  <% if current_user.id == @user.id %>
  <!--アクセスしたuserが自分だった場合-->
    <div class="toppage">
    
    <div class="log-title">
      <img src="/newimages/new-title-kois@2x.png" alt="恋文" width="90%">
    </div>
    
    
    <div class="text-alines">
      <p><%= @user.name %></p>       
    </div>
  
    <div class="URLcreate">
      <div class="IDarea">
        <p><%= user_url(@user) %></p>
      </div>
    </div>
    
    <div class="setlog">
      <img src="/newimages/set-logss@2x.png" alt="アプリの機能" width="176px" height="26px">
    </div>
  
    <div class="button">
      <!--letterを受け取るボタン-->
      <% unless @postletterss %>
      
        <div class="takeletter">
          <%= link_to lettergaide_path(@user) ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-lettertake-button@2x.png",:size =>"121x110" %>
          <% end %>
        </div>
        
      <% else %>
      
        <div class="takeletter">
          <%= link_to takeletters_path ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-lettertake-button@2x.png",:size =>"121x110" %>
          <% end %>
        </div>
      
      <% end %>
    
      <% unless @user.responses %>
        <!--自分だった場合でなおかつレスポンスキーがなかった場合-->
        <div class="friend">
          <%= link_to takesendgaide_path(@user) ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-letterchange@2x.png",:size =>"111x129" %>
          <% end %>
        </div>
        
      <% else %>
        <!--レスポンスキーがない場合は毎回ガイドに飛ばす-->
        <div class="friend">
          <%= link_to response_path(@user) ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-letterchange@2x.png",:size =>"111x129" %>
          <% end %>
        </div>
      
      <% end %>
      
    </div>
    
</div>

    
  <% else %>
  
    <!--自分ではない場合-->
    <div class="accountview">
      <%= link_to root_path ,class: 'myaccountbutton' do %>
        <%= image_tag "/newimages/newmyaccount@2x.png",:size =>"226x45" %>
      <% end %>
    </div>
    
     <div class="log-title">
      <img src="/newimages/new-title-kois@2x.png" alt="恋文" width="90%">
    </div>
    
   
  
    <div class="text-alines">
      <p><%= @user.name %></p>       
    </div>
  
    
    <div class="setlog">
      <img src="/newimages/set-logss@2x.png" alt="アプリの機能" width="176px" height="26px">
    </div>
  
    <div class="button">
      <!--letterを受け取るボタン-->
      <div class="takeletter">
        <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
          <%= image_tag "/newimages/new-sendletter@2x.png",:size =>"99x130" %>
        <% end %>
      </div>
    
      <div class="friend">
        <!--文通画面に飛ばす-->
        <%= link_to lookletter_path(@user) ,class: 'takebuttonhidden' do %>
          <%= image_tag "/newimages/new-letterchange@2x.png",:size =>"111x129" %>
        <% end %>
      </div>
    </div>

  <% end %>
 

<% else %>
<!--showの場合はログインしていない状態でも相手のプロフィール画面に来ることができる-->

    
  <div class="user-show">
    
    <div class="log-title">
      <img src="/newimages/new-title-kois@2x.png" alt="恋文" width="90%">
    </div>
    
  
    <div class="text-alines">
      <p><%= @user.name %></p>       
    </div>
  
    
    <div class="setlog">
      <img src="/newimages/set-logss@2x.png" alt="アプリの機能" width="176px" height="26px">
    </div>
  
    <div class="button">
      <!--letterを受け取るボタン-->
      <div class="takeletter">
        <%= link_to choice_path(@user) ,class: 'takebuttonhidden' do %>
          <%= image_tag "/newimages/new-sendletter@2x.png",:size =>"99x130" %>
        <% end %>
      </div>
    
      <!--ログインしていない場合はガイド画面に飛ばす-->
      <div class="friend">
        <%= link_to takesendgaide_path(1) ,class: 'takebuttonhidden' do %>
          <%= image_tag "/newimages/new-letterchange@2x.png",:size =>"111x129" %>
        <% end %>
      </div>
    </div>
    
  </div>


<% end %>



