

<% if logged_in? %>

  <div class="toppage">
    
    <div class="log-title">
      <img src="/newimages/new-title-kois@2x.png" alt="恋文" width="90%">
    </div>
    
  
    <div class="text-alines">
      <p><%= @myuser.name %></p>       
    </div>
  
    <div class="URLcreate">
      <div class="IDarea">
        <p><%= user_url(@myuser) %></p>
      </div>
    </div>
    
    <div class="setlog">
      <img src="/newimages/set-logss@2x.png" alt="アプリの機能" width="176px" height="26px">
    </div>
  
    <div class="button">
      <!--letterを受け取るボタン-->
      <% unless @postletterss %>
      
        <div class="takeletter">
          <%= link_to lettergaide_path(@myuser) ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-lettertake-button@2x.png",:size =>"121x110" %>
          <% end %>
        </div>
        
      <% else %>
      
        <div class="takeletter">
          <%= link_to takeletters_path ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-lettertake-button@2x.png",:size =>"121x110" %>
          <% end %>
        </div>
      
      <% end %>
      
      
      <% unless @responsess %>
        <!--レスポンスキーがない場合は毎回ガイドに飛ばす-->
        <div class="friend">
          <%= link_to takesendgaide_path(@myuser) ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-letterchange@2x.png",:size =>"111x129" %>
          <% end %>
        </div>
        
      <% else %>
        <!--レスポンスキーがない場合は毎回ガイドに飛ばす-->
        <div class="friend">
          <%= link_to response_path(@myuser) ,class: 'takebuttonhidden' do %>
            <%= image_tag "/newimages/new-letterchange@2x.png",:size =>"111x129" %>
          <% end %>
        </div>
      
      <% end %>
      
      
    </div>
    
</div>


  
<% else %>
  <!--オオカミloveletterへようこそ-->

  <div class="log-title">
    <img src="newimages/new-title-kois@2x.png" alt="オオカミloveletter" width="90%">
  </div>
  
  <div class="gaide">
    <img src="newimages/new-gaide@2x.png" alt="letterを送ろう" width="350px" height="158px">
  </div>
  
  
  <%= link_to signup_path , class: 'nameloginbutton' do %>
    <%= image_tag "/newimages/naemcreate@2x.png",:size =>"210x65" %>
  <% end %>
  
<% end %>



