

<% if logged_in? %>
<!--ここでリンクを見失う-->

  <div class="toppage">
    
    <div class="log-title">
      <img src="/newimages/newlogo@2x.png" alt="オオカミloveletter" width="80%">
    </div>
    
    <div class="herat">
      <img src="/newimages/doubleherat@2x.png" alt="ハート" width="58px" height="30px">
    </div>
  
    <div class="text-alines">
      <p><%= @myuser.name %></p>       
    </div>
  
    <div class="URLcreate">
      <div class="IDarea">
        <p><%= user_url(@myuser) %></p>
      </div>
    </div>
    
    <div class="setlog">
      <img src="/newimages/setlog@2x.png" alt="アプリの機能" width="176px" height="26px">
    </div>
  
    <div class="button">
      <!--letterを受け取るボタン-->
      <div class="takeletter">
        <%= link_to takeletters_path ,class: 'takebuttonhidden' do %>
          <%= image_tag "/newimages/newletterbutton@2x.png",:size =>"105x110" %>
        <% end %>
      </div>
    
      <div class="friend">
        <%= link_to friends_path ,class: 'takebuttonhidden' do %>
          <%= image_tag "/newimages/friendbutton@2x.png",:size =>"101x127" %>
        <% end %>
      </div>
    </div>
    
</div>


  
<% else %>
  <!--オオカミloveletterへようこそ-->

  <div class="log-title">
    <img src="newimages/newlogo@2x.png" alt="オオカミloveletter" width="80%">
  </div>
  
  <div class="gaide">
    <img src="newimages/newgaide@2x.png" alt="letterを送ろう" width="350px" height="158px">
  </div>
  
  
  <%= link_to signup_path , class: 'nameloginbutton' do %>
    <%= image_tag "/newimages/naemcreate@2x.png",:size =>"210x65" %>
  <% end %>
  
<% end %>



