<div class="backbutton">
  <%= link_to choicequestion_path(@user) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>

<div class="log-title">
  <img src="/newimages/new-questoin-title@2x.png" alt="送信する質問を選択してください" width="250px" height="60px">
</div>

<div class="notices">
  <%= link_to notice26_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-diet@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice27_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-fandesyon@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice28_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-kosume@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice29_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-rip@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice30_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-kokuhaku@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice31_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-burando@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice32_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-app@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice33_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-karakon@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice34_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-nannpa@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice35_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-wakkusu@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice36_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-item@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice37_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-morning@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice38_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-ikemen@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices13">
  <%= link_to notice39_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-future@2x.png",:size =>"320x55" %>
  <% end %>
</div>