<% if @answerletter.check =="true" %>

<div class="backbutton">
  <%= link_to takeletters_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>

  <div class="ookami-title">
    <img src="/newimages/ookami-title@2x.png" alt="オオカミloveletter" width="292px" height="93px">
  </div>

 <%= form_for(@answerletter) do |f| %>
 
      <% if @answerletter.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @answerletter.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  
      <div class="letterarea">
        <div class="form-group">
          
          <%= f.text_area :text, class: 'form-control-ookmai', rows: 5 , readonly: true %>
      
        </div>
      </div>

      <%= link_to takeletters_path ,class: 'ookamitoppagebutton' do %>
        <%= image_tag "/newimages/go-toppage@2x.png",:size =>"206x52" %>
      <% end %>
      
<% end %>
   
<% end %>
  