<div class="backbutton">
  <%= link_to choicequestion_path(@user) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>

<div class="log-title">
  <img src="/newimages/new-questoin-title@2x.png" alt="送信する質問を選択してください" width="250px" height="60px">
</div>

<div class="notices">
  <%= link_to notice15_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-food.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice16_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-life.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice17_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-best.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice18_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-nohumen@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice19_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-feti@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice20_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-hannzai@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice21_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-over.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice22_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-legal@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice23_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-joke@2x.png",:size =>"320x55" %>
  <% end %>
</div>

<div class="notices">
  <%= link_to notice24_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-want.png",:size =>"320x55" %>
  <% end %>
</div>


<div class="notices13">
  <%= link_to notice25_path(@user), class:'truthbutton' do %>
    <%= image_tag "/newimages/notice-dream.png",:size =>"320x55" %>
  <% end %>
</div>
