


<%= form_for(@updataletter) do |f| %>
<% if @updataletter.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @updataletter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= image_submit_tag("/newimages/backbutton@2x.png", class: 'sendookami')%>
  
<% if @updataletter.text == "あなたにとっての恋愛とは？" %>
<div class="log-title">
  <img src="/newimages/not-koi.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "食べたい悪魔の実は？" %>

<div class="log-title">
  <img src="/newimages/not-food.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "愛と金どちらを選ぶ？" %>

<div class="log-title">
  <img src="/newimages/not-aitomoney.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "あなたと付き合うにはどうすればいいですか？" %>

<div class="log-title">
  <img src="/newimages/not-tukiau.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "もしも願いが1つ叶うなら？" %>

<div class="log-title">
  <img src="/newimages/not-want.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "恋人に束縛されたい？" %>

<div class="log-title">
  <img src="/newimages/not-sokubaku.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "1週間後に世界が終わります、何をしますか？" %>

<div class="log-title">
  <img src="/newimages/not-over.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "片思いの相手にどう接しますか？" %>

<div class="log-title">
  <img src="/newimages/not-kataomoi.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "あなたにとってのいい男の条件は？" %>

<div class="log-title">
  <img src="/newimages/not-coolgay.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "初恋の思い出を語ってください" %>

<div class="log-title">
  <img src="/newimages/not-hatukoi.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "子どもの頃の夢は？" %>

<div class="log-title">
  <img src="/newimages/not-dream.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "思わずドキってしてしまう異性の仕草は？" %>

<div class="log-title">
  <img src="/newimages/not-doki.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "１番の自慢をしてください" %>

  <div class="log-title">
    <img src="/newimages/not-best.png" alt="送信する質問を選択してください" width="346px" height="156px">
  </div>

<% elsif @updataletter.text == "人生において最も必要なものは？" %>

<div class="log-title">
  <img src="/newimages/not-life.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "日常のささやかん幸せはどんなこと？" %>

<div class="log-title">
  <img src="/newimages/not-siawase.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "異性のどんなファッションにドキッとする？" %>

<div class="log-title">
  <img src="/newimages/not-fasshon.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "あなたにとってのいい女の条件は？" %>

<div class="log-title">
  <img src="/newimages/not-coolgirl.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "恋人が浮気しました" %>

<div class="log-title">
  <img src="/newimages/not-uwaki.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "どうしたら恋人ができますか？" %>

<div class="log-title">
  <img src="/newimages/not-makelove.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "初恋の相手はどんな人？" %>

<div class="log-title">
  <img src="/newimages/not-hatukoiaite.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "告白の断り方は？" %>

<div class="log-title">
  <img src="/newimages/not-sorrylove.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "無人島に1つ持っていけるとしたら？" %>

<div class="log-title">
  <img src="/newimages/not-nohumen.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "何フェチですか？" %>

<div class="log-title">
  <img src="/newimages/not-feti.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "どんな犯罪でも許されるとしたら？" %>

<div class="log-title">
  <img src="/newimages/not-hannzai.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "法律を1つ変えられるとしたら？" %>

<div class="log-title">
  <img src="/newimages/not-legal.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "笑えなかった冗談は？" %>

<div class="log-title">
  <img src="/newimages/not-joke.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "もしも願いを1つ叶えるとしたら？" %>

<div class="log-title">
  <img src="/newimages/not-want.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "オススメのダイエット方法は？" %>

<div class="log-title">
  <img src="/newimages/not-diet.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "オススメのファンデーションは？" %>

<div class="log-title">
  <img src="/newimages/not-fandeshon.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "オススメのコスメは？" %>

<div class="log-title">
  <img src="/newimages/not-kosume.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "オススメの赤リップは？" %>

<div class="log-title">
  <img src="/newimages/not-rip.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "どっちから告白？" %>

<div class="log-title">
  <img src="/newimages/not-kokuhaku.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "ハマっているブランドは？" %>

<div class="log-title">
  <img src="/newimages/not-burando.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "使っている加工アプリは？" %>

<div class="log-title">
  <img src="/newimages/not-app.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "使っているカラコンは？" %>

<div class="log-title">
  <img src="/newimages/not-karakon.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "ナンパするには？" %>

<div class="log-title">
  <img src="/newimages/not-nannpa.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "オススメのワックスは？" %>

<div class="log-title">
  <img src="/newimages/not-wakkusu.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "オススメのファッションアイテム" %>

<div class="log-title">
  <img src="/newimages/not-item.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "朝起きたら何する？" %>

<div class="log-title">
  <img src="/newimages/not-morning.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "イケメンだと思う人は？" %>

<div class="log-title">
  <img src="/newimages/not-ikemen.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>

<% elsif @updataletter.text == "将来のことは？" %>
<div class="log-title">
  <img src="/newimages/not-future.png" alt="送信する質問を選択してください" width="346px" height="156px">
</div>
<% end %>

    <%= f.hidden_field :text %>
    
    <%= f.hidden_field :check, :value => "true" %>
    
  <%= image_submit_tag("/newimages/go-back@2x.png", class: 'sendookami-button')%>
  
  
<% end %>

