<div class="backbutton">
  <%= link_to login_path ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>

  <div class="pigg">
    <img src="/newimages/pigimage@2x.png" alt="ピグ" width="76px" height="91px">
  </div>

  <div class="usercreate">
  

    <%= form_for(:session, url: passwordlogin_path) do |f| %>
    <!--:sessionはparamsみたいなもの-->
      <div class="name">
        <img src="/newimages/name@2x.png" alt="ニックネーム" width="136px" height="36px">
      </div>
      <div class="form-group">
        <%= f.text_field :name, class: 'form-control-name' %>
      </div>
      
      <div class="password">
        <img src="/newimages/passwordnow@2x.png" alt="パスワード" width="180px" height="34px">
      </div>
      <div class="form-group">
        <%= f.password_field :password, class: 'form-control-password' %>
      </div>

      <%= image_submit_tag("/newimages/passwordsettings@2x.png", class: 'loginbutton')%>
      
    <% end %>

  </div>

