<div class="backbutton">
  <%= link_to choice_path(@user2) ,class: 'takebuttonhidden' do %>
    <%= image_tag "/newimages/backbutton@2x.png",:size =>"19x33" %>
  <% end %>
</div>



  <div class="logo">
    <img src="/newimages/trueletter-title@2x.png" alt="真実のloveletter" width="198px" height="62px">
  </div>

<!-- @postletterのリンク先のみを生成する-->
<%= form_for(@postletter) do |f| %>
<% if @postletter.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @postletter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="letterarea">
  <div class="form-group">
    <%= f.text_area :text, class: 'form-control', rows: 5 %>
    <!--パラメーター名がtextでパラメータ値が記入した文章になる-->
    
    <div class="instagram">
      <img src="/newimages/trueletter-from@2x.png" alt="インスタのアカウント名" width="99px" height="31px">
    </div>
    <%= f.text_area :account, class: 'form-account' %>
    <!--アカウント名がパラメーターに渡される-->
    <%= f.hidden_field :which, :value => "truths" %>
    <%= f.hidden_field :user_id, :value => @user2.id %>
    <%= f.hidden_field :person, :value => "なし" %>
    <%= f.hidden_field :reason, :value => "なし" %>
    
    <!--隠しフィールド内に値をセットする場合はvalueオプションを使用する必要がある-->
  </div>
</div>

  <%= image_submit_tag("/newimages/letter-send@2x.png", class: 'sendtruth')%>
  <!--javascriptで画面遷移を設定する-->
<% end %>
<!--textという名称のパラメータ値がpostletterのインスタンスに送られる-->

